<!DOCTYPE html><html>
<head>
<!--{if $isGbk}-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!--{else}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{/if}-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>{lang tom_tcshop:clerk_title}</title>
<link rel="stylesheet" href="source/plugin/tom_tongcheng/images/style.css?v={$cssJsVersion}" />
<link rel="stylesheet" href="source/plugin/tom_tcshop/images/shop_style.css?v={$cssJsVersion}" />
<link rel="stylesheet" href="source/plugin/tom_tcshop/images/order.css?v={$cssJsVersion}">
<script type="text/javascript" src="source/plugin/tom_tcshop/images/jquery.min-2.1.3.js"></script>
<script type="text/javascript" src="source/plugin/tom_tongcheng/images/layer_mobile/layer.js?v={$cssJsVersion}"></script>
<script type="text/javascript">
    var commonjspath = 'source/plugin/tom_tongcheng/images';
</script>
<script src="source/plugin/tom_tongcheng/images/common.js?v={$cssJsVersion}" type="text/javascript"></script>
</head>
<body>
<!--{if $__HideHeader == 0 }-->
<header class="header on">
   <section class="wrap">
       <section class="sec-ico go-back" onclick="location.href='plugin.php?id=tom_tcshop&site={$site_id}&mod=mylist';">{lang tom_tcshop:back}</section>
        <h2>{lang tom_tcshop:clerk_title}</h2>
   </section>
</header>
<!--{/if}-->
<section class="mainer">
    <section class="wrap">
        <section class="cmy_container" style="padding-top: 3em;padding: 15px 0px;">
            <section class="hxren_box clearfix">
                <div class="hxren_box_main clearfix">
                    <div class="form_box">
                        <form id="saveForm" onsubmit="return false;">
                        <table width="100%">
                            <tr>
                                <td width=""><input type="text" class="input_class" name="user_id" id="user_id" placeholder="{lang tom_tcshop:clerk_user_id}" value="" /></td>
                                <td width="120">
                                    <a class="a_class id_clerk_btn" href="javascript:void(0);">{lang tom_tcshop:clerk_add_btn}</a>
                                    <input type="hidden" name="formhash" value="{$formhash}">
                                </td>
                            </tr>
                        </table>
                        </form>
                    </div>
                </div>
            </section>
            <div class="tcui-panel__bd">
                <div class="tcui-media-box tcui-media-box_small-appmsg">
                    <div class="tcui-cells">
                        <!--{loop $clerkList $key $val}-->
                        <a class="tcui-cell tcui-cell_access" href="javascript:void(0);">
                            <div class="tcui-cell__hd"><img src="{$val['userInfo']['picurl']}" alt="" style="width:20px;margin-right:5px;display:block"></div>
                            <div class="tcui-cell__bd tcui-cell_primary">
                                <p>{$val['userInfo']['nickname']}</p>
                            </div>
                            <span class="tcui-cell__ft" onclick="delClerk('{$val['id']}');">
                                {lang tom_tcshop:clerk_del_btn}
                            </span>
                        </a>
                        <!--{/loop}-->
                    </div>
                </div>
            </div>
            <div class="tcui-cells__title">
                 <section style="padding:10px;background: #eff9ff;line-height:1.5;letter-spacing: 1px;">
                    <p style="color:#f8a543">{lang tom_tcshop:mylist_clerk_msg}</p>
                 </section>
            </div>
        </section>
    </section>
</section>
<script>
$(".id_clerk_btn").click( function (){ 
    
    var user_id      = $("#user_id").val();
    if(user_id == ""){
        tusi("{lang tom_tcshop:clerk_must_user_id}");
        return false;
    }
    
    $.ajax({
        type: "GET",
        url: "{$saveUrl}",
        dataType : "json",
        data: $('#saveForm').serialize(),
        success: function(data){
            if(data.status == 200) {
                tusi("{lang tom_tcshop:clerk_add_succ}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else if(data.status == 404){
                tusi("{lang tom_tcshop:clerk_add_error404}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else{
                tusi("{lang tom_tcshop:clerk_add_error}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }
        }
    });
});

function delClerk(clerk_id){
    layer.open({
        content: '{lang tom_tcshop:clerk_del_msg}'
        ,btn: ['{lang tom_tcshop:clerk_del_ok}', '{lang tom_tcshop:clerk_del_no}']
        ,yes: function(index){
          $.ajax({
                type: "GET",
                url: "{$delUrl}",
                data: "clerk_id="+clerk_id,
                success: function(msg){
                    if(msg == '200'){
                        tusi("{lang tom_tcshop:clerk_del_succ}");
                        setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
                    }else{
                        tusi("{lang tom_tcshop:clerk_del_error}");
                    }
                }
            });
            layer.close(index);
        }
    });
}
</script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script>
wx.config({
    debug: false,
    appId: '{$wxJssdkConfig["appId"]}',
    timestamp: {$wxJssdkConfig["timestamp"]},
    nonceStr: '{$wxJssdkConfig["nonceStr"]}',
    signature: '{$wxJssdkConfig["signature"]}',
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage'
    ]
});
wx.ready(function () {
    wx.onMenuShareTimeline({
        title: '{$shareTitle}',
        link: '{$shareUrl}', 
        imgUrl: '{$shareLogo}', 
        success: function () { 
        },
        cancel: function () { 
        }
    });
    wx.onMenuShareAppMessage({
        title: '{$shareTitle}',
        desc: '{$shareDesc}',
        link: '{$shareUrl}',
        imgUrl: '{$shareLogo}',
        type: 'link',
        dataUrl: '',
        success: function () { 
        },
        cancel: function () { 
        }
    });
});
</script>
</body>
</html>
