<!DOCTYPE html><html>
<head>
<!--{if $isGbk}-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!--{else}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{/if}-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>{$tcshopConfig['plugin_name']} - {$__SitesInfo['name']}</title>
<link rel="stylesheet" href="source/plugin/tom_tongcheng/images/style.css?v={$cssJsVersion}" />
<link rel="stylesheet" href="source/plugin/tom_tcshop/images/shop_style.css?v={$cssJsVersion}" />
<link href="source/plugin/tom_tongcheng/images/swiper.min.css" rel="stylesheet" />
<script type="text/javascript" src="source/plugin/tom_tcshop/images/jquery.min-2.1.3.js"></script>
<script type="text/javascript" src="source/plugin/tom_tongcheng/images/swiper.min.js"></script>
<script type="text/javascript" src="source/plugin/tom_tongcheng/images/global.js?v={$cssJsVersion}"></script>
<script type="text/javascript">
    var commonjspath = 'source/plugin/tom_tongcheng/images';
</script>
<script src="source/plugin/tom_tongcheng/images/common.js?v={$cssJsVersion}" type="text/javascript"></script>
</head>
<body id="shop_index">
<!--{if $tcshopConfig['open_top_search'] == 1}-->
<section class="shop_search">
	<div class="shop_search_item shop_search_position">&nbsp;</div>
    <div class="shop_search_item shop_search_box">
        <a href="plugin.php?id=tom_tcshop&site={$site_id}&mod=search">
        <input type="text" readonly="readonly"  value="" placeholder="{lang tom_tcshop:index_search_msg}">
        </a>
    </div>
    <div class="shop_search_item shop_search_more">
        <a href="plugin.php?id=tom_tcshop&site={$site_id}&mod=ruzhu&prand={$prand}"><div class="more_details">{lang tom_tcshop:index_ruzhu_title}</div></a>
    </div>
</section>
<!--{/if}-->
<section class="shop_foucs">
	<!--{if $focuspicList}-->
   <div class="swiper-container swiper-container-focuspic">
        <div class="swiper-wrapper">
            <!--{loop $focuspicList $key $val}-->
            <div class="swiper-slide">
                <a href="{$val['link']}"><img src="{$val['picurl']}" width="100%"></a>
            </div>
            <!--{/loop}-->
        </div>
        <div class="swiper-pagination swiper-pagination-focuspic"></div>
    </div>
   <!--{/if}-->
</section>
<!--{if $tcshopConfig['open_top_search'] == 0}-->
<form onSubmit="return false;" id="search_form">
<section class="index-search-box">
    <section class="index-search-box__hd">
        <i class="shadow"></i>
        <input type="text" id="keyword" name="keyword" placeholder="{lang tom_tcshop:search_msg}">
    </section>
    <input type="hidden" name="formhash" value="{$formhash}">
    <section class="index-search-box__bd id_search_btn">{lang tom_tcshop:search_btn}</section>
</section>
</form>
<script>
$(".id_search_btn").click( function (){ 
    $.ajax({
        type: "GET",
        url: "{$searchUrl}",
        data: $('#search_form').serialize(),
        success: function(msg){
            window.location = msg;
        }
    });
});
$(".id_clear_btn").click( function (){ 
    $("#keyword").val("");
});
</script>
<!--{/if}-->
<section class="shop_nav" style="margin-top: -2px;">
	<section class="nav-li swiper-container swiper-container-nav">
        <div class="swiper-wrapper">
            <ul class="swiper-slide">
            <!--{loop $navList $key $val}-->
                <li>
                    <a href="{$val['link']}">
                      <section class="nav-li-pic">
                            <img src="{$val['picurl']}"/>
                      </section>
                      <p>{$val['title']}</p>
                    </a>
                </li>
                <!--{if ($navCount> 10 && $val['i'] == 10) || ($navCount> 20 && $val['i'] == 20) || ($navCount> 30 && $val['i'] == 30) || ($navCount> 40 && $val['i'] == 40) }-->
                </ul>
                <ul class="swiper-slide">
                <!--{/if}-->
            <!--{/loop}--> 
            </ul>
        </div>
        <!--{if $navCount> 10  }-->
        <div class="swiper-pagination swiper-pagination-nav" style="bottom: 5px;"></div>
        <!--{/if}-->
        <section class="clear"></section>
    </section>
</section>
<section class="shop_headlines">
	<div class="shop_headlines-list index-scroll-ad">
    	<ul>
            <!--{loop $newTcshopList $key $val}-->
        	<li><span>{lang tom_tcshop:index_top_msg_1}</span><font color="#0894fb">{$val['name']}</font>{lang tom_tcshop:index_top_msg_2}</li>
            <!--{/if}-->
        </ul>
    </div>
    <div class="shop_headlines-ruzhu"><a href="plugin.php?id=tom_tcshop&site={$site_id}&mod=ruzhu&prand={$prand}">{lang tom_tcshop:index_top_btn_1}&nbsp;{lang tom_tcshop:index_top_btn_2}<br/>{lang tom_tcshop:index_top_btn_3}&nbsp;{lang tom_tcshop:index_top_btn_4}</a></div> 
</section>
<section class="shop_list">
	<div class="shop_list-menu">
    	<div class="list-menu"><a <!--{if $tab == 1 }-->class="on"<!--{/if}--> href="plugin.php?id=tom_tcshop&site={$site_id}&mod=index&tab=1">{lang tom_tcshop:index_nav_rec}</a></div>
    	<div class="list-menu"><a <!--{if $tab == 2 }-->class="on"<!--{/if}--> href="plugin.php?id=tom_tcshop&site={$site_id}&mod=index&tab=2">{lang tom_tcshop:index_nav_new}</a></div>
    	<div class="list-menu"><a <!--{if $tab == 3 }-->class="on"<!--{/if}--> href="plugin.php?id=tom_tcshop&site={$site_id}&mod=index&tab=3">{lang tom_tcshop:index_nav_lbs}</a></div>
    </div>
    <div class="list-item" id="index-list"></div>
    <div class="list-msg" style="display: none;" id="load-html">{lang tom_tcshop:list_load_msg}</div>
    <div class="list-msg" style="display: none;" id="no-load-html">{lang tom_tcshop:list_no_load_msg}</div>
    <div class="list-msg" style="display: none;" id="no-list-html">{lang tom_tcshop:list_on_list_msg}</div>
</section>
{template tom_tcshop:footer}
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak={$tcshopConfig['baidu_js_ak']}"></script>
<script>
$(document).ready(function(){
   $.get("{$ajaxAddLbsUrl}");
   $.get("{$ajaxAutoClickUrl}");
   $.get("{$ajaxAutoZhuanfaUrl}");
   $.get("{$ajaxCommonClicksUrl}");
   $.get("{$ajaxUpdateTopstatusUrl}");
   $.get("{$ajaxUpdateVipLevelUrl}");
   $.get("{$ajaxUpdateBaseLevelUrl}");
});
    
$(document).ready(function(){
    var swiper1 = new Swiper('.swiper-container-nav', {
        pagination: '.swiper-pagination-nav',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
    <!--{if $focuspicList}-->
    var swiper2 = new Swiper('.swiper-container-focuspic', {
        pagination: '.swiper-pagination-focuspic',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    <!--{/if}-->
});

var loadPage = 1;
function indexLoadList(){
    loadPage = 1;
    loadList(1);
}

var loadListStatus = 0;
function loadList(Page) {
    if(loadListStatus == 1){
        return false;
    }
    loadListStatus = 1;
    $("#index-list").html('');
    $("#load-html").show();
    $.ajax({
        type: "GET",
        url: "{$ajaxIndexLoadListUrl}",
        data: {page:Page},
        success: function(msg){
            loadListStatus = 0;
            var data = eval('('+msg+')');
            if(data == 205){
                $("#no-list-html").show();
                return false;
            }else{
                loadPage += 1;
                $("#index-list").html(data);
            }
        }
    });
}

$(document).ready(function(){
   indexLoadList();
});

$(window).scroll(function () {
    var scrollTop       = $(this).scrollTop();
    var scrollHeight    = $(document).height();
    var windowHeight    = $(this).height();
    if ((scrollTop + windowHeight) >= (scrollHeight * 0.9)) {
        scrollLoadList();
    }
});

function scrollLoadList() {
    if(loadListStatus == 1){
        return false;
    }
    if(loadPage > 50){
        return false;
    }
    $('#load-html').show();
	$('#no-load-html').hide();
    loadListStatus = 1;
    $.ajax({
        type: "GET",
        url: "{$ajaxIndexLoadListUrl}",
        data: {page:loadPage},
        success: function(msg){
            loadListStatus = 0;
            var data = eval('('+msg+')');
            if(data == 205){
                loadListStatus = 1;
                $('#load-html').hide();
                $('#no-load-html').show();
                return false;
            }else{
                loadPage += 1;
                $('#load-html').hide();
                $("#index-list").append(data);
            }
        }
    });
}

$(function() {
    setInterval(function() {
        var e = $(".index-scroll-ad ul");
        e.scrollTo({
            to: e.find("li").eq(0).height(),
            durTime: 800,
            delay: 80,
            callback: function() {
                var a = e.find("li").eq(0),
                i = a.clone(!0);
                e.scrollTop(0),
                a.remove(),
                e.append(i)
            }
        })
    },
    2e3)
});
</script>
<script>
wx.config({
    debug: false,
    appId: '{$wxJssdkConfig["appId"]}',
    timestamp: {$wxJssdkConfig["timestamp"]},
    nonceStr: '{$wxJssdkConfig["nonceStr"]}',
    signature: '{$wxJssdkConfig["signature"]}',
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'previewImage',
      'openLocation', 
      'getLocation'
    ]
});
wx.ready(function () {
    wx.getLocation({
        type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
        success: function(res) {
            var point = new BMap.Point(res.longitude, res.latitude);
            var convertor = new BMap.Convertor();
            var pointArr = [];
            pointArr.push(point);
            convertor.translate(pointArr, 1, 5, function(data) {
                if (data.status === 0) {
                    $.get("{$ajaxUpdateLbsUrl}&latitude="+data.points[0].lat+"&longitude="+data.points[0].lng);
                } else {
                    $.get("{$ajaxUpdateLbsUrl}&latitude="+res.latitude+"&longitude="+res.longitude);
                }
            });
        }
    });
    wx.onMenuShareTimeline({
        title: '{$shareTitle}',
        link: '{$shareUrl}', 
        imgUrl: '{$shareLogo}', 
        success: function () { 
        },
        cancel: function () {
        }
    });
    wx.onMenuShareAppMessage({
        title: '{$shareTitle}',
        desc: '{$shareDesc}',
        link: '{$shareUrl}',
        imgUrl: '{$shareLogo}',
        type: 'link',
        dataUrl: '',
        success: function () { 
        },
        cancel: function () { 
        }
    });
    wx.onMenuShareQQ({
        title: '{$shareTitle}',
        desc: '{$shareDesc}',
        link: '{$shareUrl}',
        imgUrl: '{$shareLogo}',
        success: function () { 
        },
        cancel: function () { 
        }
    });
});
</script>
<!--{if $__IsWeixin == 0}-->
{template tom_tcshop:baidu_location}
<script>
function getLocation(){
    <!--{if $tongchengConfig['open_moblie_https_location'] == 1}-->
    h5Geolocation();
    <!--{else}-->
    wapGeolocation();
    <!--{/if}-->
}
getLocation();
</script>
<!--{/if}-->
</body>
</html>