<!--{if $isGbk}-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!--{else}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{/if}-->
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="yes" name="apple-touch-fullscreen">
<style type="text/css">
    body, html, #allmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        font-family: "Microsoft Yahei";
    }
</style>
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak={$tcshopConfig['baidu_js_ak']}"></script>
<script type="text/javascript" src="//map.qq.com/api/js?v=2.exp&Key={$tcshopConfig['tx_js_ak']}"></script>
<div id="allmap"></div>
<div style=" position: fixed;bottom: 0px; height:50px; background-color: #FFF; width:100%;text-align:center; line-height:50px;color:green">
    <table width="100%" height="50px" style="text-align:center; line-height:50px;color:green">
        <tr height="50px">
            <td width="50%" style="border-right:solid 1px #cacaca;"  onclick="cancel();">
                {lang tom_tcshop:baidumap_cancel}
            </td>
            <td onclick="ok();">
                {lang tom_tcshop:baidumap_ok}
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var choosePoint = [];
    
    function ok() {
        var point = new BMap.Point(choosePoint.detail.location.lng, choosePoint.detail.location.lat);
        var convertor = new BMap.Convertor();
        var pointArr = [];
        pointArr.push(point);
        convertor.translate(pointArr, 3, 5, function(data) {
            if (data.status === 0) {
                window.parent.LocationOK(data.points[0].lat, data.points[0].lng);
            } else {
                window.parent.LocationOK(choosePoint.detail.location.lat, choosePoint.detail.location.lng);
            }
        });
        
    }
    function cancel() {
        window.parent.LocationCancel();
    }
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return "";
    }

    var lng = GetQueryString("lng");
    var lat = GetQueryString("lat");
    if (lng == "") {
        lng = 113.335832;
    }
    if (lat == "") {
        lat = 23.128414;
    }
    var center = new qq.maps.LatLng(lat, lng);
    var qqmaprun = function () {
        geocoder = new qq.maps.Geocoder({
            complete: function (result) {
                choosePoint = result;
            }
        });
        geocoder.getAddress(center);
        map = new qq.maps.Map(document.getElementById("allmap"), {center: center, zoom: 13});
        marker = new qq.maps.Marker({
            position: center, map: map
        });
        qq.maps.event.addListener(map, 'click', function (event) {
            var tmpcenter = new qq.maps.LatLng(event.latLng.getLat(), event.latLng.getLng());
            marker.setPosition(tmpcenter);
            geocoder.getAddress(tmpcenter);
        });
    };
    qqmaprun();
    
</script>

