<!DOCTYPE html><html>
<head>
<!--{if $isGbk}-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!--{else}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{/if}-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>{lang tom_tcshop:ruzhu_title} - {$__SitesInfo['name']}</title>
<link rel="stylesheet" href="source/plugin/tom_tongcheng/images/style.css?v={$cssJsVersion}" />
<link rel="stylesheet" href="source/plugin/tom_tcshop/images/shop_style.css?v={$cssJsVersion}" />
<script type="text/javascript" src="source/plugin/tom_tcshop/images/jquery.min-2.1.3.js"></script>
<script type="text/javascript" src="source/plugin/tom_tongcheng/images/layer_mobile/layer.js?v={$cssJsVersion}"></script>
<script type="text/javascript">
    var commonjspath = 'source/plugin/tom_tongcheng/images';
</script>
<script src="source/plugin/tom_tongcheng/images/common.js?v={$cssJsVersion}" type="text/javascript"></script>
<style>
.tcui-actionsheet__cell:before{border:0}
.tcui-actionsheet__cell{border-bottom:1px solid #EFEFF4;padding:20px 0}
.tcui-article td{border: 1px #bbb9b8 solid;}
.tcui-cells_checkbox i{font-style: normal;}
.layui-m-layer0 .layui-m-layerchild{width: 70%;}
.layui-m-layercont{padding: 5px 3px;}
</style>
<script>
var tomBrowser = {
    versions: function () {
        var u = navigator.userAgent, app = navigator.appVersion;
        return { /*移动终端浏览器版本信息*/
            trident: u.indexOf('Trident') > -1, /*IE内核*/
            presto: u.indexOf('Presto') > -1, /*opera内核*/
            webKit: u.indexOf('AppleWebKit') > -1, /*苹果、谷歌内核*/
            gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, /*火狐内核*/
            mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), /*是否为移动终端*/
            ios: !!u.match(/i[^;]+;( U;)? CPU.+Mac OS X/), /*ios终端*/
            android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, /*android终端或者uc浏览器*/
            iPhone: u.indexOf('iPhone') > -1 || (u.indexOf('Mac') > -1 && u.indexOf('Macintosh') < 0), /*是否为iPhone或者QQHD浏览器*/
            iPad: u.indexOf('iPad') > -1, /*是否iPad*/
            webApp: u.indexOf('Safari') == -1, /*是否web应该程序，没有头部与底部*/
            WindowsWechat: u.indexOf('WindowsWechat') > 0 /*是否web应该程序，没有头部与底部*/
        };
    }(),
    language: (navigator.browserLanguage || navigator.language).toLowerCase()
}
</script>
</head>
<body>
<div id="qubieBox" class="slide-menu" style="display: none;">
    <header class="header on ">
        <section class="wrap">
            <section class="sec-ico go-back" onclick="hideQubieBox();">{lang tom_tcshop:back}</section>
            <h2>{lang tom_tcshop:ruzhu_vip_title}</h2>
        </section>
    </header>
    <div class="slide-scroller">
        <article class="tcui-article" style="line-height:1.7;">
            <section>
                {$vip_txt}
            </section>
        </article>
    </div>
</div>
<div id="xieyiBox" class="slide-menu" style="display: none;">
    <header class="header on ">
        <section class="wrap">
            <section class="sec-ico go-back" onclick="hideXieyiBox();">{lang tom_tcshop:back}</section>
            <h2>{lang tom_tcshop:ruzhu_xieyi_title}</h2>
        </section>
    </header>
    <div class="slide-scroller">
        <article class="tcui-article" style="line-height:1.7;">
            <section>
                {$xieyi_txt}
            </section>
        </article>
    </div>
</div>
<header class="header header-index on in2">
   <section class="wrap">
        <!--{if $__HideHeader == 0 }-->
        <section class="sec-ico go-back" onclick="history.back();">{lang tom_tcshop:back}</section>
        <!--{/if}-->
        <h2>{lang tom_tcshop:ruzhu_title}</h2>
        <section class="sec-ico btn slide-btn">
            <a href="javascript:void(0);" onclick="showXieyiBox();">{lang tom_tcshop:ruzhu_xieyi}</a>
        </section>
   </section>
</header>
<form class="mainer" name="payForm" id="payForm" >
   <section class="wrap edit-form">
        <section class="edit-item">
            <section class="input-control">
                 <span>{lang tom_tcshop:ruzhu_name}</span>
                 <section class="user-fav">
                      <section class="sec-input">
                           <input type="text" id="name" name="name" placeholder="{lang tom_tcshop:ruzhu_name_msg}" value=""  />
                      </section>
                      <div class="frt"></div>
                 </section>
            </section>
             <section class="input-control ">
                  <span>{lang tom_tcshop:ruzhu_cate}</span>
                  <section class="user-fav">
                       <section class="sec-input">
                           <div id="choseCate"><font color="#8e8e8e">{lang tom_tcshop:ruzhu_cate_msg}</font></div>
                           <input type="hidden" name="cate_id" id="cate_id" value="">
                           <input type="hidden" name="cate_child_id" id="cate_child_id" value="">
                       </section>
                       <div class="frt">
                            <div class="right-arrow"></div>
                       </div>
                  </section>
             </section>
            <!--{if $tcshopConfig['open_ruzhu_area'] == 1  }-->
            <section class="input-control " >
                 <span>{lang tom_tcshop:ruzhu_city}</span>
                 <section class="user-fav">
                      <section class="sec-input">
                           <div id="choseCity"><font color="#8e8e8e">{lang tom_tcshop:ruzhu_city_msg}</font></div>
                           <input type="hidden" name="area_id" id="area_id" value="">
                           <input type="hidden" name="street_id" id="street_id" value="">
                      </section>
                      <div class="frt"><div class="right-arrow"></div></div>
                 </section>
            </section>
            <!--{/if}-->
            <section class="input-control ">
                 <span>{lang tom_tcshop:ruzhu_address}</span>
                 <section class="user-fav">
                      <section class="sec-input">
                           <input type="text" id="address" name="address" placeholder="{lang tom_tcshop:ruzhu_address_msg}" value=""  />
                           <input type="hidden" name="lng" id="hidlng" value="" />
                           <input type="hidden" name="lat" id="hidlat" value="" />
                      </section>
                     <div id="showActionSheet" class="frt"><img src="source/plugin/tom_tcshop/images/lbs_ico.png" style="width: 20px;" /><i id="locationtext" style="color: #F60;">{lang tom_tcshop:ruzhu_address_dw}</i></div>
                 </section>
            </section>
            <!--{if $tcshopConfig['open_simplify_ruzhu'] == 0}-->
            <section class="input-control ">
                 <span>{lang tom_tcshop:ruzhu_business_hours}</span>
                 <section class="user-fav">
                      <section class="sec-input">
                           <input type="text" id="business_hours" name="business_hours" value="" placeholder="{lang tom_tcshop:ruzhu_business_hours_msg}"/>
                      </section>
                      <div class="frt"></div>
                 </section>
            </section>
            <!--{/if}-->
            <section class="input-control ">
                 <span>{lang tom_tcshop:ruzhu_tel}</span>
                 <section class="user-fav">
                      <section class="sec-input">
                           <input type="text" id="tel" name="tel" placeholder="{lang tom_tcshop:ruzhu_tel_msg}" value=""  />
                      </section>
                      <div class="frt"></div>
                 </section>
            </section>
            <!--{if $tcshopConfig['open_simplify_ruzhu'] == 0}-->
                <!--{if $tcshopConfig['open_must_shopkeeper_tel'] == 1}-->
                <section class="input-control ">
                     <span>{lang tom_tcshop:ruzhu_shopkeeper_tel}</span>
                     <section class="user-fav">
                          <section class="sec-input">
                               <input type="text" id="shopkeeper_tel" name="shopkeeper_tel" placeholder="{lang tom_tcshop:ruzhu_shopkeeper_tel_msg}" value=""  />
                          </section>
                          <div class="frt"></div>
                     </section>
                </section>
                <!--{/if}-->
            <section class="input-control clear bb0" style="margin-bottom: 5px;">
                  <div style="line-height: 3em;">{lang tom_tcshop:ruzhu_content}</div>
                  <section class="textarea">
                       <section class="sec-input">
                            <textarea id="content" name="content" maxlength="10000"></textarea>
                       </section>
                  </section>
             </section>
            <section class="input-control ">
                 <div style="line-height: 3em;">{lang tom_tcshop:ruzhu_picurl}<font color="#8e8e8e">{lang tom_tcshop:ruzhu_picurl_msg}</font></div>
                  <ul>
                       <li>
                            <section class="img pic-upload-btn">
                                <input type="file" name="filedata1" id="filedata1" class="post-upload-fileprew"  />
                                <img src="source/plugin/tom_tongcheng/images/img7.png" />
                            </section>
                       </li>
                       <div id="picurl"></div>
                  </ul>
            </section>
            <section class="input-control ">
                <div style="line-height: 2em;margin-top: 0.5em;">{lang tom_tcshop:ruzhu_photo}<font color="#8e8e8e">{lang tom_tcshop:ruzhu_photo_msg1}</font></div>
                <div style="line-height: 1em;margin-bottom: 0.5em;"><font color="#f5833b;">{lang tom_tcshop:ruzhu_photo_msg2}</font></div>
                  <ul>
                      <div id="photolist"></div>
                       <li>
                            <section class="img pic-upload-btn">
                                <!--{if $__IsWeixin == 1 && $tongchengConfig['open_many_pic_upload'] == 1}-->
                                <div id="filedata2" class="post-upload-fileprew"></div>
                                <!--{else}-->
                                <input type="file" name="filedata2" id="filedata2" class="post-upload-fileprew"/>
                                <!--{/if}-->
                                <img src="source/plugin/tom_tongcheng/images/img7.png" />
                            </section>
                       </li>
                  </ul>
            </section>
            <section class="input-control ">
                 <div style="line-height: 3em;">{lang tom_tcshop:ruzhu_kefu_qrcode}<font color="#8e8e8e">{lang tom_tcshop:ruzhu_kefu_qrcode_msg}</font></div>
                  <ul>
                       <li>
                            <section class="img pic-upload-btn">
                                <input type="file" name="filedata3" id="filedata3" class="post-upload-fileprew"  />
                                <img src="source/plugin/tom_tongcheng/images/img7.png" />
                            </section>
                       </li>
                       <div id="kefu_qrcode"></div>
                  </ul>
            </section>
            <!--{if $tcshopConfig['open_must_business_licence'] == 1}-->
            <section class="input-control ">
                 <div style="line-height: 3em;">{lang tom_tcshop:ruzhu_business_licence}<font color="#8e8e8e">{lang tom_tcshop:ruzhu_business_licence_msg}</font></div>
                  <ul>
                       <li>
                            <section class="img pic-upload-btn">
                                <input type="file" name="filedata4" id="filedata4" class="post-upload-fileprew"  />
                                <img src="source/plugin/tom_tongcheng/images/img7.png" />
                            </section>
                       </li>
                       <div id="business_licence"></div>
                  </ul>
            </section>
            <!--{/if}-->
            <!--{/if}-->
        </section>
        <!--{if $__ShowTchehuoren == 1 && $showInviteCodeInput == 1}-->
        <section class="input-control invite_box">
             <span>{lang tom_tcshop:ruzhu_code}</span>
             <section class="user-fav">
                  <section class="sec-input">
                       <input type="text" id="invite_code" name="invite_code" placeholder="{lang tom_tcshop:ruzhu_code_msg}" value=""  />
                       <section id="invite_code_msg" class="input-control invite_box invite_code_msg"></section>
                  </section>
                  <div class="frt"></div>
             </section>
        </section>
        <div class="tcui-cells__tips"></div>
        <!--{/if}-->
        <section class="input-control">
            <div style="line-height: 3em;">{lang tom_tcshop:ruzhu_vip_level_title}<i id="id_ruzhu_discount" style="color: #f00;display: none;">({lang tom_tcshop:ruzhu_code_discount_msg1}{$tcshop_ruzhu_discount_msg}{lang tom_tcshop:ruzhu_code_discount_msg2})</i><!--{if $tcshopConfig['open_ruzhu_one'] == 1  }--><a href="javascript:void(0);" onclick="showQubieBox();"><font color="#00abff" style="font-size: 1em;float: right;">{lang tom_tcshop:ruzhu_vip_title}</font></a><!--{/if}--></div>
             <div class="tcui-cells tcui-cells_checkbox" style="margin-top: 0px;">
                <!--{if $tcshopConfig['open_ruzhu_one'] == 1  }-->
                <label class="tcui-cell tcui-check__label" for="s11">
                    <div class="tcui-cell__hd">
                        <input type="radio" class="tcui-check" name="ruzhu_level" value="1" id="s11" checked="checked">
                        <i class="tcui-icon-checked"></i>
                    </div>
                    <div class="tcui-cell__bd">
                        <p>{lang tom_tcshop:ruzhu_vip_level_0}(<i id="id_ruzhu_price">{$tcshopConfig['ruzhu_price']}</i>{lang tom_tcshop:yuan}/
                            <!--{if $tcshopConfig['base_time_type'] == 1  }-->{lang tom_tcshop:ruzhu_base_time_type_1}<!--{/if}-->
                            <!--{if $tcshopConfig['base_time_type'] == 2  }-->{lang tom_tcshop:ruzhu_base_time_type_2}<!--{/if}-->
                            <!--{if $tcshopConfig['base_time_type'] == 3  }-->{lang tom_tcshop:ruzhu_base_time_type_3}<!--{/if}-->
                            <!--{if $tcshopConfig['base_time_type'] == 4  }-->{lang tom_tcshop:ruzhu_base_time_type_4}<!--{/if}-->
                            <!--{if $tcshopConfig['base_time_type'] == 5  }-->{lang tom_tcshop:ruzhu_base_time_type_5}<!--{/if}-->
                            <!--{if $tcshopConfig['base_time_type'] == 6  }-->{lang tom_tcshop:ruzhu_base_time_type_6}<!--{/if}-->
                            )<!--{if $tcshopConfig['open_back_score'] == 1 }--><font color="#fd0d0d" style="font-size: 0.7em;">({lang tom_tcshop:ruzhu_score_msg}{$ruzhuBackScore})</font><!--{/if}--></p>
                    </div>
                </label>
                <!--{/if}-->
                <label class="tcui-cell tcui-check__label" for="s12">
                    <div class="tcui-cell__hd">
                        <input type="radio" class="tcui-check" name="ruzhu_level" value="2" id="s12" <!--{if $tcshopConfig['open_ruzhu_one'] == 0 }-->checked="checked"<!--{/if}-->>
                        <i class="tcui-icon-checked"></i>
                    </div>
                    <div class="tcui-cell__bd">
                        <p>{lang tom_tcshop:ruzhu_vip_level_1}(<i id="id_vip_ruzhu_price">{$tcshopConfig['vip_ruzhu_price']}</i>{lang tom_tcshop:yuan}/1{lang tom_tcshop:nian})<!--{if $tcshopConfig['open_back_score'] == 1 }--><font color="#fd0d0d" style="font-size: 0.7em;">({lang tom_tcshop:ruzhu_score_msg}{$ruzhuVipBackScore})</font><!--{/if}--></p>
                    </div>
                </label>
                <label class="tcui-cell tcui-check__label" for="s13">
                    <div class="tcui-cell__hd">
                        <input type="radio" class="tcui-check" name="ruzhu_level" value="3" id="s13">
                        <i class="tcui-icon-checked"></i>
                    </div>
                    <div class="tcui-cell__bd">
                        <p>{lang tom_tcshop:ruzhu_vip_level_1}(<i id="id_vip_ruzhu_price_two">{$tcshopConfig['vip_ruzhu_price_two']}</i>{lang tom_tcshop:yuan}/2{lang tom_tcshop:nian})<!--{if $tcshopConfig['open_back_score'] == 1 }--><font color="#fd0d0d" style="font-size: 0.7em;">({lang tom_tcshop:ruzhu_score_msg}{$ruzhuVipTwoBackScore})</font><!--{/if}--></p>
                    </div>
                </label>
            </div>
             <section>
                 <input class="tcui-agree__checkbox" type="checkbox" name="xieyi" id="xieyi" value="1" checked />  <a href="javascript:void(0);" onclick="showXieyiBox();">{lang tom_tcshop:ruzhu_tiaokuan}</a>
             </section>
        </section>
   </section>
   <section class="btn-group-block">
        <button type="button" id="id_ruzhu_btn" class="id_ruzhu_btn">{lang tom_tcshop:ruzhu_btn}</button>
        <input type="hidden" name="formhash" value="{$formhash}">
        <input type="hidden" name="user_id" value="{$__UserInfo['id']}">
        <input type="hidden" name="city_id" id="city_id" value="{$__CityInfo['id']}">
        <div class="clear10"></div>
        <div class="clear10"></div>
        <div class="clear10"></div>
   </section>
</form>
<div id="baidumap" style="position: fixed;bottom: 0px; height:100%; width:100%;z-index:9999;display:none">
    <iframe style="border:0px;width:100%;height:100%"></iframe>
</div>
<div class="tcui-actionsheet" id="actionSheet_wrap">
    <header class="header on in2">
        <section class="wrap"><h2>{lang tom_tcshop:ruzhu_choose_address}</h2></section>
    </header>
    <div class="tcui-actionsheet__menu">
        <a class="tcui-actionsheet__cell" href="javascript:void(0);" id="mylocation">{lang tom_tcshop:ruzhu_choose_mylocation}</a>
        <a class="tcui-actionsheet__cell" href="javascript:void(0);" id="maplocation">{lang tom_tcshop:ruzhu_choose_maplocation}</a>
    </div>
    <div class="clear"></div>
    <div class="tcui-actionsheet__action">
        <div class="tcui-actionsheet__cell" id="actionsheet_cancel">{lang tom_tcshop:ruzhu_choose_close}</div>
    </div>
</div>
<section class="dialog succ-dialog id-prompt" style="display: none;">
   <section class="dialog-wrap">
        <section class="dialog-center">
            <a href="javascript:void(0);" onclick="$('.id-prompt').hide();" class="group-link close"></a>
             <section class="dialog-body">
                  <h1>{lang tom_tcshop:ruzhu_prompt}</h1>
                  <p><span>{lang tom_tcshop:ruzhu_prompt_msg}</span></p>
                  <section class="dialog-btns clear">
                       <a href="plugin.php?id=tom_tcshop&site={$site_id}&mod=mylist" class="hb-link">{lang tom_tcshop:ruzhu_prompt_button}</a>
                  </section>
             </section>
        </section>
   </section>
</section>
<!--{if $subscribeFlag==2}-->
<section id="subscribe" style="top:0; z-index:99;">
    <div class="subscribe_box">
        <span>{lang tom_tcshop:ruzhu_guanzu_msg}</span>
        <div class="right">
            <div class="guanzu_show"><a onclick="guanzu();">{lang tom_tongcheng:index_guanzu_btn}</a></div>
            <div class="guanzu_close" onclick="hide_guanzu();"><i></i></div>
        </div>
    </div>
</section>
<!--{/if}-->
<!--{if $showRuzhuXzBox == 1}-->
<section class="dialog succ-dialog id-prompt">
   <section class="dialog-wrap">
        <section class="dialog-center">
            <a href="javascript:void(0);" onclick="$(this).parents('.dialog').hide();" class="group-link close"></a>
             <section class="dialog-body">
                  <h1>{lang tom_tcshop:ruzhu_xz_title}</h1>
                  <p><span>{lang tom_tcshop:ruzhu_xz_msg}</span></p>
                  <section class="dialog-btns clear">
                       <a href="javascript:void(0);" onclick="$(this).parents('.dialog').hide();">{lang tom_tcshop:ruzhu_xz_btn1}</a>
                       <a href="plugin.php?id=tom_tcshop&site={$site_id}&mod=mylist" >{lang tom_tcshop:ruzhu_xz_btn2}</a>
                  </section>
             </section>
        </section>
   </section>
</section>
<!--{/if}-->
<script>var cate = eval(decodeURIComponent('{$cateData}'));var selectedIndex_Cate = [0, 0];</script>
<script>var city = eval(decodeURIComponent('{$cityData}'));var selectedIndex_City = [0, 0];</script>
<!--{if $isGbk}-->
<script type="text/javascript" src="source/plugin/tom_tcshop/images/picker/picker.min.gbk.js"></script>
<script type="text/javascript" src="source/plugin/tom_tcshop/images/picker/picker.city.gbk.js"></script>
<script type="text/javascript" src="source/plugin/tom_tcshop/images/picker/picker.cate.gbk.js"></script>
<!--{else}-->
<script type="text/javascript" src="source/plugin/tom_tcshop/images/picker/picker.min.utf8.js"></script>
<script type="text/javascript" src="source/plugin/tom_tcshop/images/picker/picker.city.utf8.js"></script>
<script type="text/javascript" src="source/plugin/tom_tcshop/images/picker/picker.cate.utf8.js"></script>
<!--{/if}-->
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak={$tcshopConfig['baidu_js_ak']}"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js" type="text/javascript"></script>
<script>
function guanzu(){
    layer.open({
        content: '<img src="{$tongchengConfig['fwh_qrcode']}"><p>{lang tom_tongcheng:index_ts_guanz_msg}<p/>'
        ,btn: '{lang tom_tongcheng:index_kefu_ok}'
      });
}
function hide_guanzu(){
    $("#subscribe").hide();
}
<!--{if $showGuanzuBox == 1}-->
    layer.open({
        content: '<img src="{$tongchengConfig['fwh_qrcode']}"><p>{lang tom_tcshop:ruzhu_ts_guanz_msg}<p/>'
        ,btn: '{lang tom_tongcheng:index_kefu_ok}'
      });
<!--{/if}-->
    
<!--{if $__ShowTchehuoren == 1 && $showInviteCodeInput == 1}-->
$(document).on('change', '#invite_code', function(){
    var invite_code = $.trim($('#invite_code').val());
    if(invite_code == ''){
        $('#invite_code_msg').hide();
        $('#id_ruzhu_discount').hide();
        $('#id_ruzhu_price').html('{$tcshopConfig['ruzhu_price']}');
        $('#id_vip_ruzhu_price').html('{$tcshopConfig['vip_ruzhu_price']}');
        $('#id_vip_ruzhu_price_two').html('{$tcshopConfig['vip_ruzhu_price_two']}');
        return;
    }
    
    $.ajax({
        type: "GET",
        url: "{$tchehuorenAjaxUrl}",
        dataType : "json",
        data: {act:"invite_code",invite_code:invite_code},
        success: function(data){
            if(data.status == 200) {
                <!--{if $showDiscountPrice == 1}-->
                $('#id_ruzhu_price').html('{$ruzhuDiscountPrice}');
                $('#id_vip_ruzhu_price').html('{$vipRuzhuDiscountPrice}');
                $('#id_vip_ruzhu_price_two').html('{$vipRuzhuDiscountPriceTwo}');
                $('#id_ruzhu_discount').show();
                <!--{/if}-->
                $('#invite_code_msg').html('<span>{lang tom_tcshop:ruzhu_invite_code_msg}</span><section class="user-fav"><img src="'+data.picurl+'">'+data.xm+'</section>').show();
            }else if(data.status == 301){
                $('#invite_code_msg').html('<p style="color:#f00">{lang tom_tcshop:ruzhu_invite_code_msg_301}</p>').show();
            }else{
                $('#invite_code_msg').hide();
            }
        }
    });
    
})
<!--{/if}-->

<!--{if $showPromptBox == 1}-->
$(document).ready(function(){
    $('.id-prompt').show();
})
<!--{/if}-->
    
function showQubieBox(){
    $("#qubieBox").show();
}    
function hideQubieBox(){
    $("#qubieBox").hide();
} 
function showXieyiBox(){
    $("#xieyiBox").show();
}    
function hideXieyiBox(){
    $("#xieyiBox").hide();
} 

wx.config({
    debug: false,
    appId: '{$wxJssdkConfig["appId"]}',
    timestamp: {$wxJssdkConfig["timestamp"]},
    nonceStr: '{$wxJssdkConfig["nonceStr"]}',
    signature: '{$wxJssdkConfig["signature"]}',
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'previewImage',
      'openLocation', 
      'getLocation',
      'chooseImage',
      'uploadImage',
      'downloadImage'
    ]
});
wx.ready(function () {
    wx.onMenuShareTimeline({
        title: '{$shareTitle}',
        link: '{$shareUrl}', 
        imgUrl: '{$shareLogo}', 
        success: function () { 
        },
        cancel: function () {
        }
    });
    wx.onMenuShareAppMessage({
        title: '{$shareTitle}',
        desc: '{$shareDesc}',
        link: '{$shareUrl}',
        imgUrl: '{$shareLogo}',
        type: 'link',
        dataUrl: '',
        success: function () { 
        },
        cancel: function () { 
        }
    });
});
</script>
<script>
var tcshop_id    = 0;
var li_i = 0;
var picurl_count = 0;
var photo_count = 0;
var qrcode_count = 0;
var business_licence_count = 0;
    
var submintPayStatus = 0;
$(".id_ruzhu_btn").click( function (){
    if(submintPayStatus == 1){
        return false;
    }
    
    if($('#xieyi').attr("checked")) {
    }else{
        tusi("{lang tom_tcshop:ruzhu_must_xieyi}");
        return false;
    }
    
    var name      = $("#name").val();
    if(name == ""){
        tusi("{lang tom_tcshop:ruzhu_name_must}");
        return false;
    }
    
    var cate_child_id      = $("#cate_child_id").val();
    if(cate_child_id == ""){
        tusi("{lang tom_tcshop:ruzhu_cate_must}");
        return false;
    }
    <!--{if $tcshopConfig['open_ruzhu_area'] == 1  }-->
    var street_id      = $("#street_id").val();
    if(street_id == ""){
        tusi("{lang tom_tcshop:ruzhu_city_must}");
        return false;
    }
    <!--{/if}-->
    var hidlat      = $("#hidlat").val();
    if(hidlat == ""){
        tusi("{lang tom_tcshop:ruzhu_address_must}");
        return false;
    }
    var tel      = $("#tel").val();
    if(tel == ""){
        tusi("{lang tom_tcshop:ruzhu_tel_must}");
        return false;
    }
    <!--{if $tcshopConfig['open_simplify_ruzhu'] == 0}-->
    var business_hours      = $("#business_hours").val();
    var content             = $("#content").val();
    if(business_hours == ""){
        tusi("{lang tom_tcshop:ruzhu_business_hours_must}");
        return false;
    }
    
        <!--{if $tcshopConfig['open_must_shopkeeper_tel'] == 1}-->
        var shopkeeper_tel      = $("#shopkeeper_tel").val();

        if(shopkeeper_tel == "" || !checkMobile(shopkeeper_tel)){
            tusi("{lang tom_tcshop:ruzhu_shopkeeper_tel_must}");
            return false;
        }
        <!--{/if}-->
    
    if(picurl_count == 0){
        tusi("{lang tom_tcshop:ruzhu_picurl_must}");
        return false;
    }

    if(photo_count == 0){
        tusi("{lang tom_tcshop:ruzhu_photo_must}");
        return false;
    }

    if(qrcode_count == 0){
        tusi("{lang tom_tcshop:ruzhu_kefu_qrcode_must}");
        return false;
    }
    
    <!--{if $tcshopConfig['open_must_business_licence'] == 1}-->
    if(business_licence_count == 0){
        tusi("{lang tom_tcshop:ruzhu_business_licence_must}");
        return false;
    }
    <!--{/if}-->
    
    if(content == ""){
        tusi("{lang tom_tcshop:ruzhu_content_must}");
        return false;
    }
    <!--{/if}-->
    
    loading('{lang tom_tcshop:doing}');
    submintPayStatus = 1;
    $.ajax({
        type: "POST",
        url: "{$payUrl}",
        dataType : "json",
        data: $('#payForm').serialize(),
        success: function(data){
            loading(false);
            if(data.status == 200) {
                tcshop_id = data.tcshop_id;
                if(data.pay_status == 1) {
                    tusi("{lang tom_tcshop:ruzhu_succ_200}");
                    setTimeout(function(){window.location.href=data.payurl+"&prand={$prand}";},500);
                }else{
                    submintPayStatus = 0;
                    setTimeout(function(){window.location.href="{$backLinkUrl}"+tcshop_id+"&prand={$prand}";},1888);
                }
            }else if(data.status == 301){
                tusi("{lang tom_tcshop:ruzhu_error_301}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else if(data.status == 302){
                tusi("{lang tom_tcshop:ruzhu_error_302}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else if(data.status == 303){
                tusi("{lang tom_tcshop:pay_error_303}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else if(data.status == 304){
                tusi("{lang tom_tcshop:pay_error_304}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else if(data.status == 404){
                tusi("{lang tom_tcshop:ruzhu_error_404}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else if(data.status == 500){
                tusi("{lang tom_tcshop:ruzhu_error_500}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }else{
                tusi("{lang tom_tcshop:ruzhu_error}");
                setTimeout(function(){window.location.href=window.location.href+"&prand={$prand}";},1888);
            }
        }
    });
});

function checkMobile(s){
	var regu =/^[1][3|8|4|5|7|9][0-9]{9}$/;
	var re = new RegExp(regu);
	if (re.test(s)) {
		return true;
	}else{
		return false;
	}
} 
</script>
{template tom_tcshop:upload}
<!--{if $__IsWeixin == 1}-->
    <!--{if $tongchengConfig['open_many_pic_upload'] == 1}-->
    {template tom_tcshop:wx_upload}
    <!--{/if}-->
    <!--{if $tcshopConfig['open_tx_map_location'] == 1}-->
    {template tom_tcshop:tx_map}
    <!--{else}-->
    {template tom_tcshop:wx_map}
    <!--{/if}-->
<!--{else}-->
{template tom_tcshop:baidu_map}
<!--{/if}-->
</body>
</html>