<script>
wx.ready(function () {
    $(document).on('click', '#filedata2', function(){
        wx.chooseImage({
            count: 9,
            sizeType: ['original', 'compressed'],
            sourceType: ['album', 'camera'],
            success: function (res) {
                var length = res.localIds.length;
                if(length > 0){
                    loading('{lang tom_tcshop:uploading}');
                    uploadImg(res);
                }
            }
        });
    })
    
    $(document).on('click', '#shop_focuspic', function(){
        wx.chooseImage({
            count: 9,
            sizeType: ['original', 'compressed'],
            sourceType: ['album', 'camera'],
            success: function (res) {
                var length = res.localIds.length;
                if(length > 0){
                    loading('{lang tom_tcshop:uploading}');
                    uploadImg(res);
                }
            }
        });
    })
    
    function uploadImg(res){
        var i = 0, length = res.localIds.length;
        if(length > 0){
            function upload(){    
                wx.uploadImage({
                    localId: res.localIds[i], 
                    isShowProgressTips: 0, 
                    success: function (res) {
                        var serverId = res.serverId;
                        downloadServer(serverId);
                        i++;
                        if(i < length){
                            upload(); 
                        }else{
                            loading(false);
                        }
                    },
                    fail:function(res){
                        loading(false);
                        tusi('{lang tom_tcshop:wx_upload_error}');
                    }
                });
            }
            upload();
        }
    } 
    
    function downloadServer(serverId){
        $.ajax({
            type:'POST',
            url:'{$wxUploadUrl2}',
            data:{serverId:serverId},
            dataType:'json',
            success:function(data){
                if(data.status == 200){
                    $("#photolist").append('<li class="li_'+li_i+'"><section class="img"><img src="'+data.picurl+'" /><input type="hidden" name="photo_'+li_i+'" value="'+data.picurl+'"/><input type="hidden" name="photothumb_'+li_i+'" value="'+data.thumburl+'"/></section><div class=" close pic-delete-btn pointer" onclick="picremove('+li_i+');">&nbsp;X&nbsp;</div></li>');
                    li_i++;
                    photo_count++;
                }else if(data.status == 301){
                    tusi('{lang tom_tcshop:wx_upload_error_301}');
                    return false;
                }else if(data.status == 302){
                    tusi('{lang tom_tcshop:wx_upload_error_302}');
                    return false;
                }else{
                    tusi('error');
                    return false;
                }
            },
            error:function(){
                loading(false);
                tusi('{lang tom_tcshop:wx_upload_error_1}');
            }
        })
    }    
});
</script>