<!DOCTYPE html><html>
<head>
<!--{if $isGbk}-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!--{else}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{/if}-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>{lang tom_tongcheng:fabu_step1_title} - {$__SitesInfo['name']}</title>
<link rel="stylesheet" href="source/plugin/tom_tongcheng/images/style.css?v={$cssJsVersion}" />
<script type="text/javascript" src="source/plugin/tom_tongcheng/images/jquery.min-2.1.3.js"></script>
<style>
.tcui-actionsheet__cell:before{border:0}
.tcui-actionsheet__cell{border-bottom:1px solid #EFEFF4;padding:20px 0}
</style>
</head>
<body class="body-white">
<header class="header header-index on in2">
    <section class="wrap">
        <!--{if $__HideHeader == 0 }-->
        <section class="sec-ico go-back" onclick="history.back();">{lang tom_tongcheng:back}</section>
        <!--{/if}-->
        <h2>{lang tom_tongcheng:fabu_step1_title}</h2>
        <section class="sec-ico btn slide-btn"><a href="plugin.php?id=tom_tongcheng&site={$site_id}&mod=article">{lang tom_tongcheng:fabu_xuzhi_title}</a></section>
    </section>
</header>
<div class="mainer">
    <!--{if $__ShowTcshop == 1}-->
    <!--{if $tcshopList}-->
    <div class="fabu_step1_new_shop_list" style="display:none;">
        <marquee direction="left" scrollamount="3">
        <a style="white-space: nowrap;">
        <!--{loop $tcshopList $key $val}-->
        {lang tom_tongcheng:fabu_step1_new_shop_list_msg1}<font color="#fd0d0d">&lt;{$val['name']}&gt;</font>{lang tom_tongcheng:fabu_step1_new_shop_list_msg2}&nbsp;&nbsp;&nbsp;&nbsp;
        <!--{/loop}-->
        </a>
        </marquee>
    </div>
    <!--{/if}-->
    <!--{/if}-->
    <!--{if $fabu_warning_msg}-->
    <div class="tcui-cells__title">
        <section style="padding:10px;background: #eff9ff;line-height:1.5;letter-spacing: 1px;">
           <p style="color:#f8a543">{$fabu_warning_msg}</p>
        </section>
    </div>
    <!--{/if}-->
    <div class="clear5"></div>
    <!--{if $__ShowTcshop == 1}-->
    <div class="tcui-cells" style="margin-top:10px;">
         <a class="tcui-cell tcui-cell_access" href="plugin.php?id=tom_tcshop&site={$site_id}&mod=ruzhu&prand={$prand}">
              <div class="tcui-cell__bd tcui-cell_primary align-center">
                <img src="source/plugin/tom_tcshop/images/tcshop_ico.png" style="margin-right:10px;float: left;width:3.5em">
                <p>
                    {lang tom_tongcheng:fabu_step1_ruzhu_shop_msg1}&nbsp;<img src="source/plugin/tom_tcshop/images/icon-hot-text.png" height="16"><br>
                    <span class="f13" style="color:#999;">{lang tom_tongcheng:fabu_step1_ruzhu_shop_msg2}</span>
                </p>
              </div>
             <span class="tcui-cell__ft"></span>
         </a>
    </div>
    <!--{/if}-->
    <div class="clear5"></div>
    <div class="clear10"></div>
    <div class="tcui-loadmore tcui-loadmore_line">
        <span class="tcui-loadmore__tips">{lang tom_tongcheng:fabu_step1_model}</span>
    </div>
    <section class="nav-list">
        <section class="nav-li" style="margin-top:-10px">
            <ul>
                <!--{loop $modelList $key $val}-->
                <li style="width:20%">
                    <!--{if $val['showType'] == 1}-->
                    <a class="cat-item" data-id="{$val['id']}" href="javascript:void(0);">
                    <!--{else}-->
                    <a class="" href="plugin.php?id=tom_tongcheng&site={$site_id}&mod=fabu&act=step2&type_id={$val['typeList'][0]['id']}">
                    <!--{/if}-->
                        <section class="nav-li-pic">
                            <img src="{$val['picurl']}"/>
                        </section>
                        <p>{$val['name']}</p>
                    </a>
                </li>
                <div id="title-{$val['id']}" style="display:none">
                    {lang tom_tongcheng:fabu_step2_title_1}{$val['name']}{lang tom_tongcheng:fabu_step2_title_2}
                </div>
                <div id="child-{$val['id']}" style="display:none">
                    <!--{loop $val['typeList'] $kk $vv}-->
                    <a class="tcui-actionsheet__cell" href="plugin.php?id=tom_tongcheng&site={$site_id}&mod=fabu&act=step2&type_id={$vv['id']}">{$vv['name']}</a>
                    <!--{/loop}-->
                </div>
                <!--{/loop}-->
                <!--{if $__ShowTcqianggou == 1}-->
                <li style="width:20%">
                    <a class="" href="plugin.php?id=tom_tcqianggou&site={$site_id}&mod=fabu">
                        <section class="nav-li-pic">
                            <img src="source/plugin/tom_tongcheng/images/qianggou_ico.png">
                        </section>
                        <p>{lang tom_tongcheng:fabu_step1_qianggou}</p>
                    </a>
                </li>
                <!--{/if}-->
                <!--{if $__ShowTcptuan == 1}-->
                <li style="width:20%">
                    <a class="" href="plugin.php?id=tom_tcptuan&site={$site_id}&mod=fabu">
                        <section class="nav-li-pic">
                            <img src="source/plugin/tom_tongcheng/images/pintuan_ico.png">
                        </section>
                        <p>{lang tom_tongcheng:fabu_step1_pintuan}</p>
                    </a>
                </li>
                <!--{/if}-->
                <!--{if $__ShowTckjia == 1}-->
                <li style="width:20%">
                    <a class="" href="plugin.php?id=tom_tckjia&site={$site_id}&mod=fabu">
                        <section class="nav-li-pic">
                            <img src="source/plugin/tom_tongcheng/images/kanjia_ico.png">
                        </section>
                        <p>{lang tom_tongcheng:fabu_step1_kanjia}</p>
                    </a>
                </li>
                <!--{/if}-->
                <!--{if $__ShowTcqianggou == 1}-->
                <li style="width:20%">
                    <a class="" href="plugin.php?id=tom_tcqianggou&site={$site_id}&mod=fabu">
                        <section class="nav-li-pic">
                            <img src="source/plugin/tom_tongcheng/images/kaquan_ico.png">
                        </section>
                        <p>{lang tom_tongcheng:fabu_step1_kaquan}</p>
                    </a>
                </li>
                <!--{/if}-->
            </ul>
            <section class="clear"></section>
        </section>
    </section>
</div>
<div class="tcui-actionsheet" id="cat-sheet">
    <header class="header on in2">
        <section class="wrap"><h2 id="cat-sheet-title">{lang tom_tongcheng:fabu_step1_type}</h2></section>
    </header>
    <div class="tcui-actionsheet__menu" style="max-height: 385px;overflow: scroll;" id="cat-sheet-menu"></div>
    <div class="clear"></div>
    <div class="tcui-actionsheet__action">
        <div class="tcui-actionsheet__cell" id="cat-sheet-cancel">{lang tom_tongcheng:fabu_step1_close}</div>
    </div>
</div>
{template tom_tongcheng:footer}
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
   $.get("{$ajaxCommonClicksUrl}");
   $.get("{$ajaxUpdateTopstatusUrl}");
});
$(function () {
    var catSheet = $('#cat-sheet');
    function hideActionSheet() {
        if (catSheet.hasClass('tcui-actionsheet_toggle')) {
            catSheet.removeClass('tcui-actionsheet_toggle');
            hideMask().hide();
        }
        return false;
    }
    $('#cat-sheet-cancel').on('click', hideActionSheet);
    $(".cat-item").on("click", function () {
        var id = $(this).data('id');
        var catEle = $('#child-' + id);
        var catHTML = catEle.html();
        $('#cat-sheet-menu').html(catHTML);
        var titleEle = $('#title-' + id);
        var titleHTML = titleEle.html();
        $('#cat-sheet-title').html(titleHTML);
        catSheet.addClass('tcui-actionsheet_toggle');
        showMask().one('click', hideActionSheet);
        return false;
    });
    <!--{if $model_id > 0}-->
    var catEle = $('#child-{$model_id}');
    var catHTML = catEle.html();
    $('#cat-sheet-menu').html(catHTML);
    var titleEle = $('#title-{$model_id}');
    var titleHTML = titleEle.html();
    $('#cat-sheet-title').html(titleHTML);
    catSheet.addClass('tcui-actionsheet_toggle');
    showMask().one('click', hideActionSheet);
    return false;
    <!--{/if}-->
});
</script>
<script>
wx.config({
    debug: false,
    appId: '{$wxJssdkConfig["appId"]}',
    timestamp: {$wxJssdkConfig["timestamp"]},
    nonceStr: '{$wxJssdkConfig["nonceStr"]}',
    signature: '{$wxJssdkConfig["signature"]}',
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage'
    ]
});
wx.ready(function () {
    wx.onMenuShareTimeline({
        title: '{$shareTitle}',
        link: '{$shareUrl}', 
        imgUrl: '{$shareLogo}', 
        success: function () { 
        },
        cancel: function () { 
        }
    });
    wx.onMenuShareAppMessage({
        title: '{$shareTitle}',
        desc: '{$shareDesc}',
        link: '{$shareUrl}',
        imgUrl: '{$shareLogo}',
        type: 'link',
        dataUrl: '',
        success: function () { 
        },
        cancel: function () { 
        }
    });
});
</script>
</body>
</html>