<!DOCTYPE html><html>
<head>
<!--{if $isGbk}-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!--{else}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{/if}-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<title>{$user['nickname']}{lang tom_tongcheng:home_title_1}{$tcCount}{lang tom_tongcheng:home_title_2} - {$__SitesInfo['name']}</title>
<link rel="stylesheet" href="source/plugin/tom_tongcheng/images/style.css?v={$cssJsVersion}" />
<script type="text/javascript" src="source/plugin/tom_tongcheng/images/jquery.min-2.1.3.js"></script>
<script type="text/javascript">
    var commonjspath = 'source/plugin/tom_tongcheng/images';
</script>
<script src="source/plugin/tom_tongcheng/images/common.js?v={$cssJsVersion}" type="text/javascript"></script>
</head>
<body>
<section class="mainer">
   <section class="wrap">
        <section class="user-page">
            <section class="user-wrap user-wrap-nobg" style="height: 9em;">
                  <div class="blur10" style="background: url({$user['picurl']});background-size: contain;"></div>
                  <section class="user-page-avatar" style="margin-top: 0.4em;">
                       <section class="_bigav user-avatar-pic">
                            <img src="{$user['picurl']}"/>
                       </section>
                      <div class="btn-group text-right" style="background-color:transparent;">
                           <a style="border: 1px solid #eaeae9;padding: 0;height: 25px;line-height: 25px;" href="{$messageUrl}" class="text-center">{lang tom_tongcheng:home_message_btn}</a>
                       </div>
                  </section>
                  <section class="user-avatar-extend">
                       <h3>{$user['nickname']}</h3>
                       <p> 
                           {lang tom_tongcheng:home_reg_time}{$add_time}<br /> 
                           {lang tom_tongcheng:home_fabu_num_1}{$tcCount} {lang tom_tongcheng:home_fabu_num_2}<br /> 
                           {lang tom_tongcheng:home_visitor_num_1}{$visitorCount} {lang tom_tongcheng:home_visitor_num_2}
                       </p>
                  </section>
                  <div class="clear10"></div>
             </section>
        </section>
        <div class="clear10"></div>
        <ul class="home-tab dislay-flex">
             <li <!--{if $act == 'list'  }-->class="active"<!--{/if}-->><a href="plugin.php?id=tom_tongcheng&site={$site_id}&mod=home&uid={$user['id']}&act=list">{lang tom_tongcheng:home_ta_fabu}</a></li>
             <li <!--{if $act == 'visitor'  }-->class="active"<!--{/if}-->><a href="plugin.php?id=tom_tongcheng&site={$site_id}&mod=home&uid={$user['id']}&act=visitor">{lang tom_tongcheng:home_ta_visitor}</a></li>
        </ul>
        <!--{if $act == 'list'  }-->
        <section class="tc-sec">
            <section class="tc-sec mt0" id="home-list">
                 <div class="tcui-loadmore" style="padding:1em"><i class="tcui-loading"></i><span class="tcui-loadmore__tips">{lang tom_tongcheng:list_jiazaiing}</span></div>
             </section>
             <section class="tc-sec mt0" style="display: none;" id="no-more-html">
                <div class="tcui-loadmore" style="padding:1em"><i class="tcui-loading"></i><span class="tcui-loadmore__tips">{lang tom_tongcheng:list_no_more}</span></div>
             </section>
            <section class="tc-sec mt0" style="display: none;" id="no-list-html">
                <div class="clear10" style="height:7em;"></div>
                  <div class="tcui-loadmore tcui-loadmore_line">
                       <span class="tcui-loadmore__tips">{lang tom_tongcheng:list_no_list}</span>
                  </div>
                  <div class="btn-group-block">
                       <a href="plugin.php?id=tom_tongcheng&site={$site_id}&mod=fabu">{lang tom_tongcheng:list_fabu_one}</a>
                       <div class="clear10" style="height:7em;"></div>
                  </div>
             </section>
        </section>
        <!--{/if}-->
        <!--{if $act == 'visitor'  }-->
        <section class="tc-sec">
             <section class="tc-sec mt0">
                  <style>.home-visitor{margin-top:0}.home-visitor .tcui-cell img{width:28px;margin-right:5px;display:block}</style>
                  <!--{loop $visitorList $key $val}-->
                  <div class="tcui-cells home-visitor">
                       <a class="tcui-cell" href="plugin.php?id=tom_tongcheng&site={$site_id}&mod=home&uid={$val['visitUserInfo']['id']}">
                            <div class="tcui-cell__hd">
                                 <img src="{$val['visitUserInfo']['picurl']}" />
                            </div>
                            <div class="tcui-cell__bd"><p>{$val['visitUserInfo']['nickname']}</p></div>
                            <div class="tcui-cell__ft"><!--{date($val[add_time], 'u')}--></div>
                       </a>
                  </div>
                  <!--{/loop}-->
             </section>
        </section>
        <!--{/if}-->
        
   </section>
</section>
<section class="pic_info id-pic-tip box_hide clearfix" style="z-index: 999;height: 2000px;position: fixed;">
	<div class="pic_info_in id-pic-tip-in" style="top: 0px; height: 550px; background-image: url();"></div>
</section>
{template tom_tongcheng:footer}
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
   $.get("{$ajaxCommonClicksUrl}");
   $.get("{$ajaxUpdateTopstatusUrl}");
});
<!--{if $act == 'list'  }-->
var pageIndex = 1;
$(document).ready(function(){
    loadList("{$user['id']}",pageIndex);
});
$(window).scroll(function (){
    var scrollTop       = $(this).scrollTop();
    var scrollHeight    = $(document).height();
    var windowHeight    = $(this).height();
    if ((scrollTop + windowHeight) >= (scrollHeight * 0.9)) {
        loadList("{$user['id']}",pageIndex);
    }
});

var loadListStatus = 0;
function loadList(userId,Page) {
    if(pageIndex > 50){
        $("#no-more-html").show();
    }
    if(loadListStatus == 1){
        return false;
    }
    loadListStatus = 1;
    $.ajax({
        type: "GET",
        url: "{$ajaxLoadListUrl}",
        data: { user_id:userId,page:Page},
        success: function(msg){
            if(pageIndex == 1){
                $("#home-list").html('');
            }
            loadListStatus = 0;
            var data = eval('('+msg+')');
            if(data == 205){
                if(pageIndex == 1){
                    $("#no-list-html").show();
                }else{
                    $("#no-more-html").show();
                }
                return false;
            }else{
                pageIndex += 1;
                $("#home-list").append(data);
            }
        }
    });
}


/* list js start */
$(document).on("click", ".detail-time-icon",function() {
    var t = $(this),
    a = t.next();
    if (!a.hasClass("detail-toolbar")) {
        var id = t.data("id"),message = t.data("message"),user_id = t.data("user-id"),tel = t.data("tel"),tousu = t.data("tousu");
        a = $('<div class="detail-toolbar"><A href="'+tousu+'" rel="nofollow"><img src="source/plugin/tom_tongcheng/images/icon-report.png">{lang tom_tongcheng:list_tousu_btn}</A><a href="javascript:void(0);" onclick="collect('+user_id+','+id+');" class="ajax-post"><img src="source/plugin/tom_tongcheng/images/list_zan.png">{lang tom_tongcheng:list_collect_btn}</a><A href="'+message+'"><img src="source/plugin/tom_tongcheng/images/icon-message.png">{lang tom_tongcheng:list_sms_btn}</A><A href="'+tel+'" class="ajax-get"><img src="source/plugin/tom_tongcheng/images/icon-tel.png">{lang tom_tongcheng:list_tel_btn}</A></div>'),
        t.after(a);
    }
    a.hasClass("active") ? a.removeClass("active") : a.addClass("active");
});
$(document).on("click",function(t) {
    var a = $(t.target);
    a.hasClass("detail-time-icon") || $(".detail-toolbar").removeClass("active");
});
<!--{if $tongchengConfig['open_list_quanwen'] == 1}-->
$(document).on("click", ".detail-toggle,.detail-toggle2,article",function() {
<!--{else}-->
$(document).on("click", ".detail-toggle,.detail-toggle2",function() {
<!--{/if}-->
    var t = $(this).parent(),
    a = t.find("article"),
    i = t.find(".act-bar"),
    id = t.data("id"),
    e = i.find("img");
    $.get("{$ajaxClicksUrl}"+id);
    return a.attr("oldheight") ? (a.css("max-height", a.attr("oldheight") + "px"), a.removeAttr("oldheight"), t.find(".detail-toggle").show(),t.find(".detail-toggle2").hide(), t.find(".act-bar").hide(), void 0) : (a.attr("oldheight", parseInt(a.css("max-height"), 10)), a.css("max-height", "none"), t.find(".detail-toggle").hide(),t.find(".detail-toggle2").show(), i.show(), e.attr("url") && e.attr("src", e.attr("url")).removeAttr("url"), !1)
});
function collect(user_id,tongcheng_id){
    $.ajax({
        type: "GET",
        url: "{$ajaxCollectUrl}",
        data: "user_id="+user_id+"&tongcheng_id="+tongcheng_id,
        success: function(msg){
            msg = $.trim(msg);
            if(msg == '100'){
                tusi("{lang tom_tongcheng:list_collect_100}");
            }else if(msg == '200'){
                tusi("{lang tom_tongcheng:list_collect_ok}");
            }else{
                tusi("{lang tom_tongcheng:list_collect_error}");
            }
        }
    });
}
function showPic(picurl,id){
    var photo_list = $("#photo_list_"+id).val();
    var picarr = photo_list.split('|');
    wx.previewImage({
        current: picurl,
        urls: picarr 
    });
    //$(".id-pic-tip").removeClass('box_hide');
    //$('.id-pic-tip-in').css('background-image', 'url(' + picurl + ')');
}

$(".pic_info").on("click", function(){
    $(".id-pic-tip").addClass('box_hide');
    $('.id-pic-tip-in').css('background-image', '');
});
/* list js end */
<!--{/if}-->
</script>
<script>
wx.config({
    debug: false,
    appId: '{$wxJssdkConfig["appId"]}',
    timestamp: {$wxJssdkConfig["timestamp"]},
    nonceStr: '{$wxJssdkConfig["nonceStr"]}',
    signature: '{$wxJssdkConfig["signature"]}',
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'previewImage'
    ]
});
wx.ready(function () {
    wx.onMenuShareTimeline({
        title: '{$user['nickname']}{lang tom_tongcheng:home_title_1}{$tcCount}{lang tom_tongcheng:home_title_2}',
        link: '{$shareUrl}', 
        imgUrl: '{$shareLogo}', 
        success: function () { 
        },
        cancel: function () { 
        }
    });
    wx.onMenuShareAppMessage({
        title: '{$user['nickname']}{lang tom_tongcheng:home_title_1}{$tcCount}{lang tom_tongcheng:home_title_2}',
        desc: '{$shareDesc}',
        link: '{$shareUrl}',
        imgUrl: '{$shareLogo}',
        type: 'link',
        dataUrl: '',
        success: function () { 
        },
        cancel: function () { 
        }
    });
});
</script>
</body>
</html>