<table class="tb tb2 " id="tips">
<tbody><tr><th class="partition">{lang fightgroups:view1}</th></tr>
<tr><td class="tipsblock" s="1"><ul id="tipslis">
<li>{lang fightgroups:view2}</li>
<li>{lang fightgroups:view3} https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxaa90518b179775e8&redirect_uri={HEJIN_URL}&scope=snsapi_userinfo&state=1#wechat_redirect </li>
</ul></td></tr></tbody>
</table>


<table class="tb tb2 " id="tips">
<tbody><tr><th class="partition">{lang fightgroups:view4}</th></tr>
<tr><td class="tipsblock" s="1"><ul id="tipslis">
<li>{lang fightgroups:view5}{HEJIN_URL}</li>
<li>{lang fightgroups:view6}<img width="281" height="281" src="http://s.jiathis.com/qrcode.php?url={HEJIN_URL}"></li>
</ul></td></tr></tbody>
</table>